.note-details{
    margin-left: 0.5rem;
}
.note-details p{
    margin: 0;
}

.btn-edit{
    border-radius: 5px;
    background-color: #17a2b8;
    width: 60px;
    height: 45px;
    margin: 0.3rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.btn-edit i{
    font-size: 30px;
}

@media screen and (max-width: 768px){
    .card-header{
        padding: 0.75rem 5px;
    }
    .card-header h5{
        margin: 5px 0;
        padding: 0;
    }
    .card-header p{
        padding: 0;
    }
}